# Ignore everything in this directory
*
# Except this file
!.gitignore
!cme_arrival_calc_test.hdf5
!HUXt_CR2080_time_dependent_test_case.hdf5
!HUXt_CR2080_streaklines_test_case.hdf5
!generate_testing_data.py